{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <select name="symbol" class="mb-2">
        {% for stock in owned_stocks %}
          <option>{{ stock["symbol"] }}</option>
        {% endfor %}
        </select> 

        <div class="form-group">
            <input type="number" name="shares" autofocus class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}